{% extends "ptbr/base.tmpl" %}
{% block postbody %}
<h2>Olá!</h2>
<p>Sou Jose Ricardo Ziviani, programador do Brasil.</p>
<p>Meu e-mail é jose<strong>AT</strong>ziviani<strong>DOT</strong>net</p>

<h2>Interesses</h2>
<p>Estou particularmente interessado em virtualização (<a href="http://www.qemu.org/" target="_blank">QEMU</a>, <a href="https://www.linux-kvm.org/page/Main_Page" target="_blank">KVM</a>, e <a href="https://github.com/torvalds/linux" target="_blank">Linux</a>).

<h2>Hobbies</h2>
<p>Eu gosto de fazer coisas nas minhas folgas, especialmente dormir. Mas também adoro eletrônica (analógica e digital) e guitarra/violão.</p>
{% endblock %}
