<ul class="posts">
    <li>
        <p class="title"><a class="posts" href="/2017/kvm-ola-mundo-ppc64" data-doc="2017-08-10">Usando a API KVM - versão PPC64</a></p>
        <span class="label label-primary">artigo</span>
        <span class="label label-primary">programação</span>
        <span class="label label-primary">virtualização</span>
        <span class="label label-primary">KVM</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2016/ptbr/binary-index-tree" data-doc="2017-04-24">Binary Index Table</a></p>
        <span class="label label-primary">artigo</span>
        <span class="label label-primary">programação</span>
        <span class="label label-primary">data-algo</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2014/ptbr/herancas-em-c" data-doc="2014-12-14">Herança de classes em C</a></p>
        <span class="label label-primary">artigo</span>
        <span class="label label-primary">programação</span>
        <span class="label label-primary">C</span>
        <span class="label label-primary">OO</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2011/ptbr/como-criar-modulo-apache" data-doc="">Como criar um módulo apache</a></p>
        <span class="label label-primary">artigo</span>
        <span class="label label-primary">programação</span>
        <span class="label label-primary">C</span>
        <span class="label label-primary">web</span>
    </li>
</ul>
