{% extends "base.tmpl" %}
{% block postbody %}
<h2>Hello!</h2>
<p>My name is Jose Ricardo Ziviani, I'm a open source programmer from Brazil.</p>
<p>You can reach me at jose<strong>AT</strong>ziviani<strong>DOT</strong>net</p>

<h2>Interests</h2>
<p>I'm currently working with virtualization so I'm quite interested in the internals of <a href="http://www.qemu.org/" target="_blank">QEMU</a>, <a href="https://www.linux-kvm.org/page/Main_Page" target="_blank">KVM</a>, and <a href="https://github.com/torvalds/linux" target="_blank">Linux</a>.

<h2>Hobbies</h2>
<p>I do a lot in my own time. I prefer sleeping but I also enjoy</p>
<ul>
    <li>Electronics</li>
    <li>Guitars</li>
</ul>
{% endblock %}
