<ul class="posts">
    <li>
        <p class="title"><a class="posts" href="/2018/binary-index-tree" data-doc="2017-04-24">Binary Index Table</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">data-algo</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/memorydump-reboot" data-doc="2017-04-21">MemoryDump - Rebooted</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">blog</span>
    </li>

    <li>
        <p class="title"><a class="posts" href="/2014/class-inheritance-in-c" data-doc="2014-12-14">Class Inheritance in C</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">C</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2011/how-to-create-an-apache-module" data-doc="">Create a HTTPd module</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">web</span>
    </li>
</ul>
