<ul class="posts">
    <li>
        <p class="title"><a class="posts" href="/2017/memorydump-reboot">MemoryDump - Rebooted</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">blog</span>
    </li>

    <li>
        <p class="title"><a class="posts" href="/2014/class-inheritance-in-c">Class Inheritance in C</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">C</span>
    </li>
</ul>
