<ul class="posts">
    <li>
        <p class="title"><a class="posts" href="/2017/cppcon17-mustsee" data-doc="2017-10-31">CPPCON 2017 - bookmark</a></p>
        <span class="label label-primary">quickpost</span>
        <span class="label label-primary">C++</span>
        <span class="label label-primary">Conference</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/elegant-visitors" data-doc="2017-10-29">Elegant Visitors</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">C++</span>
        <span class="label label-primary">Design Patterns</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/functions-in-assembly-ii" data-doc="2017-09-11">Writing functions in Assembly - Part II</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">assembly</span>
        <span class="label label-primary">C</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/my-fpga-is-here" data-doc="2017-09-02">FPGA Altera's Cyclone IV</a></p>
        <span class="label label-primary">quickpost</span>
        <span class="label label-primary">fpga</span>
        <span class="label label-primary">verilog</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/functions-in-assembly" data-doc="2017-09-01">Writing functions in Assembly - Part I</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">assembly</span>
        <span class="label label-primary">C</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/kvm-hello-world-ppc64" data-doc="2017-08-10">Using the KVM API - PPC64 version</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">Virtualization</span>
        <span class="label label-primary">KVM</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2017/memorydump-reboot" data-doc="2017-04-21">MemoryDump - Rebooted</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">blog</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2016/binary-index-tree" data-doc="2017-04-24">Binary Index Table</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">data-algo</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2014/class-inheritance-in-c" data-doc="2014-12-14">Class Inheritance in C</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">C</span>
    </li>
    <li>
        <p class="title"><a class="posts" href="/2011/how-to-create-an-apache-module" data-doc="">Create a HTTPd module</a></p>
        <span class="label label-primary">article</span>
        <span class="label label-primary">programming</span>
        <span class="label label-primary">web</span>
    </li>
</ul>
