<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>ziviani.net - MemoryDump</title>

        <link href="/ui/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Dosis|Lora|Anonymous+Pro" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-18500893-1', 'auto');
          ga('send', 'pageview');
        </script>
        <link href="/ui/css/zvnet.css" rel="stylesheet"/>
    </head>

    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-controls="main_nav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>memory</strong><em>dump</em></a>
            <div class="collapse navbar-collapse" id="main_nav">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/ptbr"><img src="/ui/images/brazil.png" alt="brazilian flag"/></a>
                    <a class="nav-item nav-link" href="/about">about</a>
                    <a class="nav-item nav-link" href="https://github.com/jrziviani" target="_blank">github</a>
                    <a class="nav-item nav-link" href="https://br.linkedin.com/in/ziviani" target="_blank">linkedin</a>
                    <a class="nav-item nav-link" href="/links">links</a>
                    <a class="nav-item nav-link" href="/articles">articles</a>
                </div>
                <form class="form-inline my-lg-0" action="/search" method="post">
                    <div class="input-group">
                        <input class="form-control mr-sm-1" name="search" type="search" placeholder="search" aria-label="search">
                        <button class="btn btn-outline-success" type="submit">DuckDuckGo!</button>
                    </div>
                </form>
            </div>
        </nav>

        <div class="container override">
            <div class="row">
                <div class="col" id="content">
                {% block postbody %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/ui/js/bootstrap.min.js"></script>
        <script src="/ui/js/zvnet.js"></script>
    </body>
</html>
