{% extends "base.tmpl" %}
{% block postbody %}
<h2>CPP Con 2017</h2>

<p>CPPCon is an amazing conference. Unfortunately, I haven't yet the opportunity to attend it in person but, thanks to the staff, all the lectures are available in YouTube with an outstanding audio/video quality.</p>

<p>I watched several and want to recommend/bookmark here the best so far <strong>IMHO</strong> <em>(this page will be update if I find more interesting lectures)</em>.</p>

<ul>
<li><a href="https://www.youtube.com/embed/lbCaBqhnckQ" target="_blank">Solving a bug via lateral thinking</a></li>
<li><a href="https://www.youtube.com/embed/YM8Xy6oKVQg" target="_blank">Is parallel programming still hard? - Part I</a></li>
<li><a href="https://www.youtube.com/embed/74QjNwYAJ7M" target="_blank">Is parallel programming still hard? - Part II</a></li>
<li><a href="https://www.youtube.com/embed/nZNd5FjSquk" target="_blank">Local (arena) memory allocators - Part I</a></li>
<li><a href="https://www.youtube.com/embed/CFzuFNSpycI" target="_blank">Local (arena) memory allocators - Part II</a></li>
<li><a href="https://www.youtube.com/embed/v1COuU2vU_w" target="_blank">Undefined behaviour in 2017 - Part I</a></li>
<li><a href="https://www.youtube.com/embed/TPyLrJED0zQ" target="_blank">Undefined behaviour in 2017 - Part II</a></li>
</ul>

<p><strong>Updates:</strong></p>

<ul>
<li><a href="https://www.youtube.com/embed/lkgszkPnV8g" target="_blank">Curiously Recurring C++ Bugs at Facebook</a></li>
</ul>

{% include "disqus.tmpl" %}
{% endblock %}
