{% extends "base.tmpl" %}
{% block postbody %}
<h2>Mini Bookmark</h2>
<p>Interesting articles/books to read.</p>

<h3>Computer Science - General</h3>
<ul>
    <li><a href="http://bob.cs.sonoma.edu/IntroCompOrg-x64/book.html" target="_blank">Intro to computer organization</a></li>
    <li><a href="http://jeffe.cs.illinois.edu/teaching/algorithms/?" target="_blank">Algorithms</a></li>
    <li><a href="https://archive.org/details/ucberkeley-webcast-PL-XXv-cvA_iDrt_oPWfQ4-fjHm2KSSOPq" target="_blank">Computer Science 162</a></li>
    <li><a href="https://arobenko.gitbooks.io/bare_metal_cpp/content/" target="_blank">Bare Metal C++</a></li>
    <li><a href="http://www.valvers.com/open-software/raspberry-pi/step01-bare-metal-programming-in-cpt1/" target="_blank">Bare Metal C</a></li>
    <li><a href="http://craftinginterpreters.com/" target="_blank">Crafting interpreters</a></li>
    <li><a href="https://bitbashing.io/comparing-floats.html" target="_blank">Comparing floats</a></li>
</ul>

<h3>Kernel mode</h3>
<ul>
    <li><a href="https://littleosbook.github.io/" target="_blank">Little book about OS development</a></li>
    <li><a href="https://0xax.gitbooks.io/linux-insides/content/" target="_blank">Linux insides</a></li>
    <li><a href="https://chao-tic.github.io/blog/2018/12/25/tls" target="_blank">Deep dive into TLS</a></li>
    <li><a href="https://github.com/tuhdo/os01" target="_blank">Operating Systems: From 0 to 1</a></li>
    <li><a href="http://www.devttys0.com/2011/06/mystery-file-system/" target="_blank">Mystery file system</a></li>
    <li><a href="https://manybutfinite.com/post/kernel-boot-process/" target="_blank">Boot process</a></li>
    <li><a href="http://www.brendangregg.com/linuxperf.html" target="_blank">Linux perf</a></li>
</ul>

<h3>Virtualization</h3>
<ul>
    <li><a href="https://justinmeiners.github.io/lc3-vm" target="_blank">Write your own VM</a></li>
    <li><a href="https://binarydebt.wordpress.com/2018/10/14/intel-virtualisation-how-vt-x-kvm-and-qemu-work-together" target="_blank">VT-x, KVM and QEMU</a></li>
    <li><a href="https://blog.subnetzero.io/post/building-language-vm-part-01/" target="_blank">Build your language VM (Rust) [Programming Language VM]</a></li>
</ul>

<h3>Others</h3>
<ul>
    <li><a href="https://danielmiessler.com/study/tcpdump/#gs.hRXGuE4" target="_blank">tcpdump commands</a></li>
    <li><a href="https://vim.swaroopch.com/" target="_blank">A byte of VIM</a></li>
</ul>

<h3>Jobs</h3>
<ul>
    <li><a href="https://weworkremotely.com/" target="_blank">We Work Remotely</a></li>
    <li><a href="https://remoteok.io/" target="_blank">remoteok.io</a></li>
    <li><a href="https://remotive.io/" target="_blank">remotive.io</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1TLJSlNxCbwRNxy14Toe1PYwbCTY7h0CNHeer9J0VRzE/htmlview?sle=true#gid=1279011369" target="_blank">remotive.io - spreadsheet</a></li>
</ul>

{% endblock %}
