{% extends "base.tmpl" %}
{% block postbody %}
<h2><span class="brand"><strong>memory</strong><em>dump</em></span> - Rebooted</h2>
<p>From time to time I like to start things from scratch, maybe because I get tired of doing the same thing but this is an example of that: my third reboot. But this time I mean it :-).</p>
<h2>Old posts</h2>
<p>I'll add my old posts here but I need to adapt them to this new design. Some of them are outdated (or bad) and will be trashed, but most of them will appear here in the future.</p>
<h2>Changes</h2>
<ul>
    <li><strong>Design</strong>
        <ul>
            <li>Clearer - color scheme based on <a href="http://ethanschoonover.com/solarized" target="_blank">Solarized</a>.</li>
            <li>Modern - based on <a href="https://getbootstrap.com" target="_blank">Bootstrap</a> javascript framework.</li>
            <li>Beautiful - my design and my layout, why would I think the opposite :-D.</li>
        </ul>
    </li>
    <li><strong>Backend</strong>
        <ul>
            <li><a href="https://www.python.org/" target="_blank">Python</a>, <a href="http://jinja.pocoo.org/docs/2.9/" target="_blank">Jinja2</a>, and <a href="http://werkzeug.pocoo.org/" target="_blank">Werkzeug</a>. No changes here.</li>
            <li><a href="https://github.com/jrziviani/ziviani.net" target="_blank">Github</a>! Oh yes! Some scripts in my webhost will fetch my changes and apply it magically.</li>
            <li>Auto deployment!!!</li>
            <li>AUTO deployment!!!</li>
        </ul>
    </li>
    <li><strong>Editor</strong>
        <ul>
            <li><a href="http://www.vim.org" target="_blank">VIM</a> with macros and templates.</li>
        </ul>
    </li>
    <li><strong>To do</strong>
        <ul>
            <li>Add <a href="https://disqus.com/" target="_blank">Disqus</a> for interaction.</li>
        </ul>
    </li>
</ul>
{% endblock %}

