{% extends "base.tmpl" %}
{% block postbody %}
<h2>FPGA Cyclone IV - Altera</h2>

<p>My first FPGA is home! It's an Altera's Cyclone IV, I'm really excited with this little board, I was <strong>really</strong> looking for one of those since times. So many ideas, so many things in mind...hope to find time for any!</p>

<p>For while, two pictures of it:</p>

<p><img src="/ui/images/placa2.jpg" alt="fpga" /><br/>
<em>I received it in a acrilic cover to protect the board</em></p>

<p><img src="/ui/images/placa1.jpg" alt="fpga" /><br/>
<em>The black solder mask is fancy, the board looks awesome!!!</em></p>

{% include "disqus.tmpl" %}
{% endblock %}
