{% extends "base.tmpl" %}
{% block postbody %}
<div id="resume">
<div id="resume-left-side">
    <div id="title">
        <h2>Jos&eacute; Ricardo Ziviani</h2>
        <h3>https://ziviani.net - jose<em><small>AT</small></em>ziviani<em><small>DOT</small></em>com</h3>
    </div>

    <h4>Experience</h4>

    <p><strong>IBM – Hortolândia - Brazil</strong><br/>
    Software Engineer<br/>
    Dec/2010<br/>
    <ul>
        <li>Implemented IBM Power9 instruction set using C language for <a href="http://www.qemu-project.org" target="_blank">QEMU</a>.</li>
        <li>Ported <a href="https://git.linaro.org/people/peter.maydell/risu.git/tree" target="_blank">RISU</a> – instruction set test tool to PowerPC64LE using C language, Perl, Assembly and binary machine code.</li>
        <li>Fixed non-trivial bugs in QEMU, that envolves debugging the emulator and Linux Kernel (in both host and guest sides).</li>
        <li>Developed features and fixed bugs for <a href="https://github.com/kimchi-project/kimchi" target=_blank">Kimchi</a> – a HTML5 Open-Source management tool for QEMU/KVM. Mostly written in Python and Javascript.</li>
        <li>Developed a Linux OS installer tool for <a href="http://ibm.co/1jlJjdC" target="_blank">IBM PowerKVM hypervisor</a> written in Python and Shell Script.</li>
    </ul></p>

    <p><strong>BUSCAPE.com.br – São Paulo – Brasil</strong><br/>
    Software Engineer<br/>
    Jan/2010 – Dec/2010<br/>
    <ul>
        <li>Developed features and fixed bugs in the search engine, written in C Language.</li>
        <li>Basic Linux server administration and deployment.</li>
    </ul></p>

    <p><strong>IBM – Hortolândia – Brazil</strong><br/>
    IT Specialist<br/>
    Mar/2007 – Jan/2010<br/>
    <ul>
        <li>Developed features and fixed bugs in a Telecom backend system written in C++ and Javascript for Medco client.</li>
    </ul></p>

    <p><strong>EDS – Rio de Janeiro – Brazil</strong><br/>
    Software Engineer</br>
    Feb/2006 – Mar/2007</br>
    <ul>
        <li>Ported the backend of a legacy Telecom system from a transpiled “Cobol to C” to C++.</li>
    </ul></p>

    <p><strong>TECGRAF/PUC-Rio – Rio de Janeiro – Brazil</strong><br/>
    Software Engineer<br/>
    Dez/2004 – Feb/2006<br/>
    <ul>
        <li>Optimized the middleware between JAVA and C++ using JNI for GIS software, 50% of performance improvement and 60% of memory consumption improvement.</li>
    </ul></p>

    <h4>Education</h4>
    <ul>
        <li><strong>Master of Science – Engineering</strong><br/>
            State University of Campinas – Incomplete</li>
        <li><strong>Specialization - Software Project Management</strong><br/>
            Pontifícia Universidade Católica do Rio de Janeiro - Mar 2006</li>
        <li><strong>Bachelors of Science - System Analyst</strong><br/>
            Centro Universitário Salesiano de São Paulo - Dec 2003</li>
    </ul>
</div>

<div id="resume-right-side">
    <h4>Programming Languages</h4>
    <p>C, C++, Python, Javascript, JAVA</p>

    <h4>Related Training (recent)</h4>
    <ul>
        <li><a href="https://www.coursera.org/learn/comparch/home/welcome" target="_blank">Computer Architecture</a><br/>
            Coursera/Princeton</li>
        <li><a href="https://www.coursera.org/learn/algorithms-part1/home/welcome" target="_blank">Algorithms – Part I</a><br/>
            Coursera/Princeton</li>
        <li><a href="https://www.coursera.org/learn/build-a-computer" target="_blank">From Nand 2 Tetris</a><br/>
            Coursera/Hebrew University of Jerusalem</li>
    </ul>

    <h4>Publications</h4>
    <p><a href="https://www.redbooks.ibm.com/abstracts/sg248231.html" target="_blank">PowerKVM Configuration and Use</a><br/>
    IBM Redbook<br/>
    New York<br/>
    ISBN 9780738441528</p>
    <p>Dangerous Waste Management System<br/>
    Scientific Production<br/>
    ISBN 85-8970-02-0</p>

    <h4>Patent</h4>
    <p>Intelligent Drainage System<br/>
    USPTO 14/075073</p>

    <h4>Languages</h4>
    <ul>
        <li>Portuguese</li>
        <li>English</li>
    </ul>
</div>
</div>

{% endblock %}
