html {
    height: 100%;
}

body {
    height: 100%;
    color: #37474f;
    background-color: #eceff1;
}

p {
    margin: 1.3em 0;
}

blockquote {
    border-left: 8px solid #cfd8dc;
    padding-left: 4px;
    color: #cfd8dc;
    background-color: #455a64;
}

blockquote a {
    color: #29b6f6;
}

blockquote a:hover {
    color: #29b6f6;
    text-decoration: underline;
}

img {
    padding-right: 10px;
    padding-bottom: 10px;
}

img.left {
    float: left;
}

pre {
    clear: both;
}

/*
 * Title style
 */
.navbar {
    margin-bottom: 0;
    border-color: #455a64;
    background-color: #455a64;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.55);
}

.navbar-brand {
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.navbar-brand > strong {
    font-size: 2.0em;
    font-weight: bold;
    color: #ffcc80;
}

.navbar-brand > em {
    font-size: 2.0em;
    font-style: normal;
    font-weight: thin;
    color: #dc9656;
}

.nav-link {
    font-size: 1.2em;
    font-weight: thin;
    color: #ffcc80 !important;
}

a:hover.nav-item,
a:focus.nav-item {
    color: #ffa726 !important;
}

.brand > strong {
    font-weight: bold;
    color: #ffcc80;
}

.brand > em {
    font-style: normal;
    font-weight: thin;
    color: #dc9656;
}

/*
 * Main content style
 */
.container.override .row {
    height: 100%;
    font-family: 'Lora', Georgia, serif !important;
    font-size: 1.3em !important;
    margin-top: 1em;
    scrollbar-color: #78909c #455a64;
    scrollbar-width: thin;
}

p.title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.7em;
}

span.label-primary {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 2.5em;
    color: #7cafc2;
    background-color: #585858;
    display: none;
}

/*
 * Links
 */
a {
    color: #1565c0;
}

a:hover {
    color: #1565c0;
    text-decoration: underline;
}

a.posts {
    text-decoration: none;
    color: #455a64;
}

a.posts:hover {
    text-decoration: underline;
}

ul.posts {
    list-style: none;
    padding: 0;
    padding-top: 10px;
}

ul.posts li {
    line-height: 1em;
    margin-bottom: 0.5em;
}

div.separator {
    left: 0;
    right: 0;
    height: 30px;
    background-color: #eee8d5;
}

h1.error {
    margin-top: 0;
    font-size: 8em !important;
}

h2.error {
    margin-top: 0;
    font-size: 2em !important;
    color: #ab4642 !important;
}

h2 {
    font-size: 2.0em !important;
    font-weight: bold;
    margin-top: 0;
}

.language-br {
    font-family: 'Dosis', sans-serif !important;
    font-size: 0.8em;
    color: RGB(0, 255, 0) !important;
}

.language-us {
    font-family: 'Dosis', sans-serif !important;
    font-size: 0.8em;
    color: RGB(255, 0, 0) !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scroller {
  width: 300px;
  height: 100px;
}


code {
    font-family: 'Anonymous Pro', monospace !important;
}

@media (max-width: 1199px) {
    .override {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

#canvaswrapper {
    width: 100%;
    height: auto;
}

canvas {
    display: inline !important;
    width: 100%;
    height: auto;
}

div#content {
    color: #37474f;
}

div#content h1,h2,h3,h4,h5 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    clear: both;
    color: #455a64;
}

div#content h3 {
    background-color: #cfd8dc;
}

table#logic {
    font-family: 'Anonymous Pro', monospace !important;
    font-size: 1.2em;
}

table {
    background-color: #fafafa;
    border: 1px solid #fafafa;
}

.yellow {
    background-color: #fff8c4 !important;
    border: 1px solid;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #eceff1;
}

/*
 * Resume style
 */
#resume {
    width: 100%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: normal;
    font-weight: lighter;
}

#resume h4 {
    font-size: 1.4em;
}

#resume-left-side {
    float: left;
    width: 75%;
}

#resume-left-side #title {
    color: black;
}

#resume-left-side #title h2 {
    margin-bottom: 0;
}

#resume-left-side #title h3 {
    font-size: 1.5em;
    margin-top: 0;
    border-bottom: 1px solid black;
}

#resume-right-side {
    float: right;
    width: 20%;
}

/*
 *  Code Prettify
 */
    .toolbar {
        display: none;
    }

    .str
    {
        color: #d84315;
    }
    .kwd
    {
        color: #0277bd;
        font-weight: bold;
    }
    .com
    {
        color: #00695c;
    }
    .typ
    {
        color: #0277bd;
    }
    .lit
    {
        color: #8e24aa;
    }
    .pun
    {
        color: RGB(51, 51, 51);
    }
    .pln
    {
        color: RGB(51, 51, 51);
    }
    .tag
    {
        color: RGB(69, 135, 127);
    }
    .atn
    {
        color: RGB(69, 135, 127);
    }
    .atv
    {
        color: RGB(118, 136, 68);
    }
    .dec
    {
        color: RGB(128, 77, 116);
    }
    pre.prettyprint
    {
        border: 0px solid #888;
    }
    ol.linenums
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .prettyprint {
        background: #cfd8dc !important;
        font-family: 'Anonymous Pro', monospace !important;
        font-size: 0.8em;
    }
    li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
    {
        color: #37474f;
        background: #fafafa;
        list-style-type: decimal !important;
    }
    li.L1, li.L3, li.L5, li.L7, li.L9 {
        background: #eceff1 !important;
    }
    @media print
    {
        .str
        {
            color: #060;
        }
        .kwd
        {
            color: #006;
            font-weight: bold;
        }
        .com
        {
            color: #600;
            font-style: italic;
        }
        .typ
        {
            color: #404;
            font-weight: bold;
        }
        .lit
        {
            color: #044;
        }
        .pun
        {
            color: #440;
        }
        .pln
        {
            color: #000;
        }
        .tag
        {
            color: #006;
            font-weight: bold;
        }
        .atn
        {
            color: #404;
        }
        .atv
        {
            color: #060;
        }
    }
