html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
    font-family: 'Dosis', sans-serif;
    color: #d8d8d8;
    background-color: #383838;
}

blockquote {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.8em;
    border-left: 10px solid #ba8baf;
    color: #ba8baf;
    background-color: #424242;
}

.navbar {
    border-color: #282828;
    background-color: #282828;
    font-weight: bold;
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.navbar-brand > strong {
    font-size: 2.0em;
    font-weight: bold;
    color: #f7ca88;
}

.navbar-brand > em {
    font-size: 2.0em;
    font-style: normal;
    font-weight: thin;
    color: #dc9656;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
    font-weight: thin;
    color: #f7ca88;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #dc9656;
}

ul.posts {
    list-style: none;
    padding: 0;
    padding-top: 20px;
}

ul.posts li {
    line-height: 1.00;
    margin-bottom: 2em;
}

p.title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.7em;
}

span.label-primary {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 2.5em;
    color: #7cafc2;
    background-color: #585858;
    display: none;
}

a {
    color: #7cafc2;
}

a:hover {
    color: #7cafc2;
    text-decoration: underline;
}

div.separator {
    left: 0;
    right: 0;
    height: 30px;
    background-color: #eee8d5;
}

a.posts {
    text-decoration: none;
    color: #dc9656;
}

a.posts:hover {
    text-decoration: underline;
}

a.posts:hover span {
    background-color: #dc9656;
}

a.posts:visited {
}


h1.error {
    margin-top: 0;
    font-size: 8em !important;
}

h2.error {
    margin-top: 0;
    font-size: 2em !important;
    color: #ab4642 !important;
}

h2 {
    font-size: 2.3em !important;
    margin-top: 0;
}

div#index {
    background-color: #383838;
}

div#content {
    color: #d8d8d8;
    padding-top: 20px;
}

div#content h1,h2,h3,h4,h5 {
    font-family: 'Dosis', sans-serif;
    color: #F7CA88;
}

table#logic {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 1.2em;
}

table {
    background-color: #585858;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #606060;
}

p.well {
    background-color: #585858;
}

.container-fluid.override, .override .col-md-2, .override .col-md-9 {
    height: 100% !important;
}


.override *:before, .override *:after {
    display: none;
}

.container-fluid.override:before {
    content: '';
    display: block;
    float: left;
    height: 100%;
}

.override .row {
    position: relative;
}

.override .row:after {
    content: '';
    display: block;
    clear: left;
}

.override .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.override .col-md-2 {
    overflow: auto;
    width: 17%;
    height: 100%;
    border-right: 1px solid black;
}

.override .col-md-9 {
    overflow: auto;
    width: 83%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em !important;
}

@media (max-width: 1199px) {
    .override .col-md-9 {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

.brand > strong {
    font-weight: bold;
    color: #f7ca88;
}

.brand > em {
    font-style: normal;
    font-weight: thin;
    color: #dc9656;
}

#resume {
    width: 100%;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: normal;
    font-weight: lighter;
}

#resume h4 {
    font-size: 1.4em;
}

#resume-left-side {
    float: left;
    width: 75%;
}

#resume-left-side #title {
    color: black;
}

#resume-left-side #title h2 {
    margin-bottom: 0;
}

#resume-left-side #title h3 {
    font-size: 1.5em;
    margin-top: 0;
    border-bottom: 1px solid black;
}

#resume-right-side {
    float: right;
    width: 20%;
}

#canvaswrapper {
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

/*
 *  Code Prettify
 */
    .toolbar {
        display: none;
    }

    .str
    {
        color: #dc9656;
    }
    .kwd
    {
        color: #7cafc2;
    }
    .com
    {
        color: #f7ca88;
    }
    .typ
    {
        color: #f7ca88;
    }
    .lit
    {
        color: #ba8baf;
    }
    .pun
    {
        color: #d8d8d8;
    }
    .pln
    {
        color: #d8d8d8;
    }
    .tag
    {
        color: #86c1b9;
    }
    .atn
    {
        color: #86c1b9;
    }
    .atv
    {
        color: #a1b56c;
    }
    .dec
    {
        color: #ba8baf;
    }
    pre.prettyprint
    {
        border: 0px solid #888;
    }
    ol.linenums
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    .prettyprint {
        background: #404040 !important;
    }
    li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
    {
        color: #787878;
        list-style-type: decimal !important;
    }
    li.L1, li.L3, li.L5, li.L7, li.L9 {
        background: #393939 !important;
    }
    @media print
    {
        .str
        {
            color: #060;
        }
        .kwd
        {
            color: #006;
            font-weight: bold;
        }
        .com
        {
            color: #600;
            font-style: italic;
        }
        .typ
        {
            color: #404;
            font-weight: bold;
        }
        .lit
        {
            color: #044;
        }
        .pun
        {
            color: #440;
        }
        .pln
        {
            color: #000;
        }
        .tag
        {
            color: #006;
            font-weight: bold;
        }
        .atn
        {
            color: #404;
        }
        .atv
        {
            color: #060;
        }
    }
